<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-sm-7">
                <h2 class="definition">burl (noun): a rounded knotty growth on a tree that yields highly figured wood, prized for its beauty and rarity.</h2>
                <br/>
                <p class="lead">Nerl's Burls is Southeastern Michigan's premier woodworking studio. Contact us today to commission a custom piece.</p>
            </div>
       </div>
       <div class="row justify-content-center">
            <a class="btn btn-dark btn-lg" href="#" role="button">Contact Us</a>
       </div>
    </div>
</div>