body {
  background-color: #343a40;
  /* font-family: 'Josefin Slab', serif;*/
  color: #fff;
}
.jumbotron {
  background-image: url('../images/wood_background_blur.jpg');
  background-size: cover;
}

.definition {
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}

.navbar {
  color: #737373;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Fredericka the Great', cursive;
}