<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.liquid %}
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center my-4"> 
                <p>burl: a rounded knotty growth on a tree that yields highly figured wood, prized for its beauty and rarity.</p>
            </div>
        </div>
    </body>
</html>