<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.liquid %}
    </head>

    <body>
        {% include navbar.liquid %}

        {% include jumbotron.liquid %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-3 text-center">
                    <img class="mb-3" src="{{ site.basurl }}/assets/icons/lumberjack_color.png" height="128px" width="128px">
                    <p>All of our hardwoods are sustainably sourced from Northern Michigan</p>
                </div>

                <div class="col-sm-3 text-center">
                    <img class="mb-3" src="{{ site.basurl }}/assets/icons/table-saw.png" height="128px" width="128px">
                    <p>State of the art precision equipment ensures all our pieces are of the highest quality.</p>
                </div>

                <div class="col-sm-3 text-center">
                    <img class="mb-3" src="{{ site.basurl }}/assets/icons/desk.png" height="128px" width="128px">
                    <p>We work directly with you to build and design custom woodwork.</p>
                </div>
            </div>
        </div>
    </body>
</html>